{% extends 'riddles/base.html' %}

{% block content %}





    <p>

        <button class="btn btn-outline-dark btn-lg btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Uzupełnij profil
            {% if mu.editname == True and  mu.editmail == True %}
                2/2
            {% elif mu.editname == True  and mu.editmail == False %}
                1/2

            {% elif mu.editname == False and mu.editmail == True %}
                1/2


            {% else %}
                0/2
            {% endif %}
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <ul>

                <li>
                    {% if mu.editname == True %}
                        <i class="fas fa-check" style="color:green"></i>
                        Dodaj imię <i>2&nbsp;<i class="fas fa-coins" style="color:gold"></i></i></li>
                    {% else %}
                        <i class="fas fa-times" style="color:tomato"></i>
                        Dodaj imię<i>+2&nbsp;<i class="fas fa-coins"></i></i></li>
                    {% endif  %}

                <li>
                    {% if mu.editmail == True %}
                        <i class="fas fa-check" style="color:green"></i>
                        Dodaj adres email <i>2&nbsp;<i class="fas fa-coins" style="color:gold"></i></i></li>
                    {% else %}
                        <i class="fas fa-times" style="color:tomato"></i>
                        Dodaj adres email<i>+2&nbsp;<i class="fas fa-coins"></i></i>
                    {% endif  %}



            </ul>
        </div>
    </div>



{% endblock %}