{% extends 'riddles/base.html' %}
{% block content %}
<div class="animated fadeInUp">
<div class="page-container">


                    <div class="wall d-flex align-items-center justify-content-center" data-simplebar>

                        <div class="section mx-auto" >
                            <p class="text-dark">
                                Tu kiedyś będzie coś.</p>
                                <hr>
                            Lorem ipsum dolor sit amet, eum intellegat efficiendi mediocritatem te, et suas sententiae mei. Falli persequeris eos ut, cum quod omnium no. Vim cu errem cetero voluptua. Malis dicam eu cum, his in lobortis adipiscing. Noster delicata conclusionemque at duo, cum nostro prodesset et. Discere oportere complectitur ne quo, mundi appareat ut usu, eam ex natum detracto.

Eum in dolor dignissim, ei vis epicuri contentiones. An duo vitae eloquentiam, dicant volutpat constituto eum at. Nam in natum omnesque dissentiet. Equidem lucilius no qui, et primis meliore officiis eum.

Mei cu nonumy adolescens, mea ei oblique consequuntur. Ex pro nostrud incorrupte, eius movet suavitate no est, scripta scribentur mei ei. Nibh sale nobis per ei, tantas altera assentior ei eam. Recusabo disputationi ut est, numquam epicuri mea in. Ne dicam consul labore mea.



                        </div>
                    </div>
                </div>
</div>


{% endblock %}