{% extends 'riddles/base.html' %}
{% block content %}

    <p>

        <button class="btn btn-dark btn-lg btn-block animated fadeInLeft" type="button" data-toggle="collapse"
                data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            {{ level1 }}
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body border border-secondary" style="background-color:rgba(255, 255, 255, 0.18) ">
            <div class="container">
                <div class="row align-items-center">


                    {% for riddle in level1.riddles.all %}
                        <div class="col">

                            {% if riddle not in solved_riddles %}
                                <a href="{% url 'riddle-form' riddle.id %}"><i class="far fa-question-circle"
                                                                               style="font-size:100px;color:grey"></i></i>
                                </a>


                            {% else %}
                                <a href="{% url 'riddle-form' riddle.id %}"><i class="fas fa-check-circle"
                                                                               style="font-size:100px;color:lightgreen"></i>
                                </a>


                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <br/>
    </div>


    <p>
        {% if solved >= 5 %}

            <button class="btn btn-dark btn-lg btn-block animated fadeInRight" type="button" data-toggle="collapse"
                    data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                {{ level2 }}
            </button>
        {% else %}
            <button disabled class="btn btn-dark btn-lg btn-block animated fadeInRight" type="button" data-toggle="collapse"
                    data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                <i> ## {{ level2 }} zablokowany ## </i>
            </button>
        {% endif %}
    </p>
    <div class="collapse" id="collapseExample2">
         <div class="card card-body border border-secondary" style="background-color:rgba(255, 255, 255, 0.18) ">
         <div class="container">
                <div class="row align-items-center">

            {% for riddle in level2.riddles.all %}
                <div class="col">

                    {% if riddle not in solved_riddles %}
                        <a href="{% url 'riddle-form' riddle.id %}"><i class="far fa-question-circle"
                                                                       style="font-size:100px;color:grey"></i></i> </a>


                    {% else %}
                        <a href="{% url 'riddle-form' riddle.id %}"><i class="fas fa-check-circle"
                                                                       style="font-size:100px;color:lightgreen"></i>
                        </a>


                    {% endif %}
                </div>
            {% endfor %}
                </div>
         </div>
        </div>
    <br/>
    </div>

    <p>
        {% if solved >= 10 %}

            <button class="btn btn-dark btn-lg btn-block animated fadeInLeft" type="button" data-toggle="collapse"
                    data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                {{ level3 }}
            </button>
        {% else %}
            <button disabled class="btn btn-dark btn-lg btn-block animated fadeInLeft" type="button" data-toggle="collapse"
                    data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">
                <i> ## {{ level3 }} zablokowany ## </i>
            </button>
        {% endif %}
    </p>
    <div class="collapse" id="collapseExample3">
        <div class="card card-body">
         <div class="container">
                <div class="row align-items-center">
            {% for riddle in level3.riddles.all %}

               <div class="col">

                {% if riddle not in solved_riddles %}
                                    <a href="{% url 'riddle-form' riddle.id %}"><i class="far fa-question-circle" style="font-size:100px;color:grey"></i></i> </a>


                {% else %}
                <a href="{% url 'riddle-form' riddle.id %}"><i class="fas fa-check-circle" style="font-size:100px;color:lightgreen"></i> </a>


                {% endif %}
                </div>

            {% endfor %}
                </div>
         </div>
        </div>









{% endblock %}