{% extends 'riddles/base.html' %}
{% block content %}



        <label> {{ riddle.text }} </label>


            {% if done == True %}

                <input class="form-control" disabled placeholder="{{ riddle.answer }}" style="text-align:center;text-transform:uppercase">

            {% else %}


                <form class="form-inline" method="post" action="#">

            {% csrf_token %}

            {{ form.answer }}

                <button type="submit" class="btn btn-outline-dark" >Wyślij</button>

<!-- Button trigger modal -->
<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal" onclick="function przycisk() {


}
przycisk()">
  Podpowiedź
</button>

<!-- Modal -->
<div class="modal " id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Podpowiedź</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ riddle.hint }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
            </form>
        {% endif %}

{% endblock %}