{% extends 'riddles/base.html' %}
{% block content %}
    <div class="animated fadeInUp">
        <div class="page-container">


            <div class="wall d-flex align-items-center justify-content-center" data-simplebar>

                <div class="section mx-auto" >
                    <div class="row">
                        <div class="col-auto mr-auto">
                            <h2 id="info"> {{ user.username }}</h2></div>
                    </div>



                    <form>
                        <br/>
                        <label >Imię:</label>

                        {% if user.first_name == '' %}
                            Nie podano
                        {% else %}
                            {{ user.first_name }}
                        {% endif %}

                        <hr>


                        <label>Email:</label>

                        {% if user.email == '' %}
                            Nie podano
                        {% else %}
                            {{ user.email }}
                        {% endif %}
                        <hr>
                        <label>Punkty:</label>
                        {{ user.myuser.points }}  <i class="fas fa-coins" style="color:gold"></i>

                        <br/><br/>
                    <a href="{% url 'profile-update' %}">
                                <button type="button" class="btn btn-outline-dark btn-block">Edytuj profil</button></a>
                    <br/>
                    </form>
                </div>
            </div>


        </div>
    </div>
    </div>
    </div>
{% endblock %}