{% extends 'riddles/base.html' %}
{% block title %}{{ user.username }}{% endblock %}

{% block content %}

<div class="row">
<div class="col-auto mr-auto">
    <h2 id="info"> {{ user.username }}</h2></div>

    <div class="col-auto">
    <a href="{% url 'profile-update' %}">
        <button type="button" class="btn btn-outline-dark ">Edytuj profil</button></a></div>
    </div>





<form>
  <div class="" style="color:grey; text-align:center; ">
    <label >Imię:</label>

         {% if user.first_name == '' %}
             <p>Nie podano</p>
        {% else %}
             <p>{{ user.first_name }}</p>
        {% endif %}




  <label>Email:</label>

        {% if user.email == '' %}
            <p>Nie podano</p>
        {% else %}
            <p>{{ user.email }}</p>
        {% endif %}

    <label>Punkty:</label>
      <p>{{ user.myuser.points }}  <i class="fas fa-coins" style="color:gold"></i></p>


    </div>
  </div>
</form>

</div>



{% endblock %}