{% extends 'riddles/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="animated fadeInUp">
        <div class="page-container">


            <div class="wall d-flex align-items-center justify-content-center" data-simplebar>

                <div class="section mx-auto" >
                    <form method="post" action="#">
                        <h2>Edytuj Profil</h2>
                        <div class="form-group">
                            {% csrf_token %}

                            {{ form.first_name|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                        <br/>

                            <button type="sumbit"  class="btn btn-outline-dark btn-block" >Wyślij</button>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}