body {
    background: black !important;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.logincontent {
    margin: 0 auto;
    width: 800px;
    color: black !important;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.content {
    margin: 0 auto;
    width: 800px;
    color: black !important;
    height: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.asteriskField {
    display: none;
}


.page-container {
    width: 100%;
    display: flex;
    align-items: center!important;
    align-content: center;

}

.left-side,
.right-side {
    width: 50%;
}

.brand {
    min-height: 40vh;
    margin-top: 40vh;
    color: #fff;
    text-align: center;
}

.wall {
    min-height: 40vh;
    text-align: center;
    overflow-y: visible;
    height: auto;
    width: 100%;
    padding: 15px;

    background-color: #fff!important;
    color: #000 !important;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.section {
    /*margin: auto;*/
    width: auto;
    height: auto;
    text-align: center;

}


.preload {
    width: 100%;
    height: 100%;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 200px auto 50px auto;
}

.loader-frame {
    width: 70px;
    height: 70px;
    margin: auto;
    position: relative;
}

.loader1, .loader2 {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%

}

.loader1 {
    width: 70px;
    height: 70px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    animation: clockwisespin 2s linear 3;
}
.loader2 {
    width: 60px;
    height: 60px;
    border-top: 5px solid yellow;
    border-bottom: 5px solid yellow;
    top: 5px; left: 5px;
    animation: anticlockwisespin 2s linear 3;
}

@keyframes clockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes anticlockwisespin {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@keyframes fadeout {
    from {opacity: 1;}
    to {opacity: 0;}
}